body {
  background-color: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  color: red;
}

button {
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}